<div id="map" class="leafmap"></div>

<script>
{% if page.leaflet %}
// L.Icon.Default.imagePath = '{{ "images/carto/" | prepend: site.baseurl }}';

var viirs = 'VIIRS_SNPP_CorrectedReflectance_TrueColor';
// var modis = 'MODIS_Terra_CorrectedReflectance_TrueColor';

var basemap = {
  'OpenStreetMap': L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    'attribution': '&copy; <a href="https://osmlab.github.io/attribution-mark/copyright/?name={{ site.title }}">OpenStreetMap</a> contributors',
    'minZoom': 2,
    'maxZoom': 19
  })
};

var map = L.map('map', {
  {% if page.latlng %}
  'center': [{{ page.latlng[0] }}, {{ page.latlng[1] }}],
  'zoom': {{ page.zoom }},
  'layers': [basemap.OpenStreetMap]
	{% endif %}
});
<!-- map.scrollWheelZoom.disable(); -->
{% endif %}

{% if page.mlatlng %}
var marker = L.marker(
  [{{ page.mlatlng[0] }}, {{ page.mlatlng[1] }}]
).addTo(map);
{% endif %}

{% if page.icon %}
var xmarker = L.icon({
  iconUrl: '{{ page.icon | prepend: site.baseurl }}',
  iconRetinaUrl: '{{ page.icon | prepend: site.baseurl }}',
  iconSize: [37, 50],
  iconAnchor: [18.5, 50],
  popupAnchor: [0, -51]
});

var marker = L.marker([{{ page.mlatlng[0] }}, {{ page.mlatlng[1] }}], {
  icon: {{ page.icon }}
}).addTo(map);
{% endif %}

{% if page.mpop or page.icon %}
marker.bindPopup("{{ page.mpop }}").openPopup();
{% endif %}
</script>
