---
layout: page
title: Data
---

<div style="color: #9a9a9a;border-left: 2px solid;padding-left: 10px;">
  <h3>Want to add to this list?</h3>
  <ol>
    <li>Submit a pull request on <a href="https://github.com/justinlewis/built-from-here/blob/gh-pages/pages/data.html" target="_blank">GitHub</a></li>
    <li>Send me a note throug the <a href="https://builtfromhere.com/pages/contact.html">digital channels</a></li>
  <ol>
</div>

    
<h3>Western Colorado Companies</h3>
<ul>
  <li>
    <a href="https://docs.google.com/spreadsheets/d/1aTcg2nZv5YMOplRtZkoKcs66idt1O3rrFHlNXCyWKu4/edit?usp=sharing" target="_blank"> List of tech focused companies in Western Colorado</a>
  </li>
</ul>
  



{% for post in site.categories.data %}
  <a href="{{ site.github.url }}{{ post.url }}">
    <div class="featured-posts" {% if post.image %}style="background-image:url({{ site.github.url }}/assets/img/{{ post.image }})"{% endif %}>
      <h2><span>{{ post.title }}</span></h2>
    </div>
  </a>
{% endfor %}
